<!DOCTYPE html>
<html>
<head>
 
</head>

<body>



<div class="container">
<h2>Database Results</h2>

<table border="1">
    <tr><th>id</th><th>name</th><th>mail</th><th>password</th></tr>
    <% results.forEach(function(r) { %>
        <tr>
          <td><%= r.id %></td>
          <td><%= r.name %></td>
          <td><%= r.mail %></td>
          <td><%= r.pass %></td>
        </tr>
    <% }); %>
    </table>

</div>

</body>
</html>
